p
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.orange {
    color: #FF6600;
}
 .grisfonce {
    color: #3D3D3D;
}
 .grisclair {
    color: #989898;
}
 .noirmarron {
    color: #1B1512;
}
 .blancasse {
    color: #F5F5F5;
} 
