body
{
    background-color: #989898;
}
.navbar
{
    padding: 0px;
    z-index: 1000;
}
.navbar-nav
{
    justify-content: space-between;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.nav-item
{

    background-color:#1B1512;
    padding: 15px;
    border-left: 1px solid  #F5F5F5;
    border-right: 1px solid  #F5F5F5;
    color: #F5F5F5;
    font-size: 15px;
}
.nav-item1 
{
    background-color:#FF6600;
    padding: 15px;
    color: #F5F5F5;
    font-size: 15px;
}
.collapse
{
    background-color:#1B1512;
}
.navbar-light .navbar-nav .nav-link{
    color: #F5F5F5;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #F5F5F5;
}
.Logo
{
    padding-top: 100px;
}
.img-fluid
{
    width: 100%;
    max-width: 400px;
    
    
}